<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
<!--    <appender name="mySplunk" class="com.splunk.logging.HttpEventCollectorLogbackAppender">-->
<!--        <url>YOUR SPLUNK HTTP URL</url>-->
<!--        <index>INDEX NAME</index>-->
<!--        <token>TOKEN</token>-->
<!--        <batch_size_count>10</batch_size_count>-->
<!--        <disableCertificateValidation>true</disableCertificateValidation>-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--            <charset>utf8</charset>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <logger name="com.example.demo" level="info" additivity="false">-->
<!--        <appender-ref ref="mySplunk"/>-->
<!--    </logger>-->

    <timestamp key="byDay" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file> log-${byDay}.log </file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
